<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

        <!-- int-method 以及 destroy-method 都是该类自己本身方法 -->
        <bean id="man" class="com.isyxf.ioc.demo4.Man" init-method="setup" destroy-method="teardown">
                <property name="name" value="dddd"/>
        </bean>

        <bean class="com.isyxf.ioc.demo4.MyBeanPostProcessor"/>
</beans>