<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置目标类 -->
    <bean id="customerDao" class="com.isyxf.aop.spring3.CustomerDao"/>
    <bean id="studentDao" class="com.isyxf.aop.spring3.StudentDaoImpl"/>

    <!-- 配置增强 -->
    <bean id="myAroundAdvice" class="com.isyxf.aop.spring3.MyAroundAdvice"/>

    <!-- 配置切面 -->
     <bean id="myAdvisor" class="org.springframework.aop.support.RegexpMethodPointcutAdvisor">
         <property name="pattern" value="com\.isyxf\.aop\.spring3\.CustomerDao\.save"></property>
         <property name="advice" ref="myAroundAdvice"/>
     </bean>

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"></bean>
</beans>