<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- 配置目标类 -->
    <bean id="customerDao" class="com.isyxf.aop.spring2.CustomerDao"/>
    <bean id="studentDao" class="com.isyxf.aop.spring2.StudentDaoImpl"/>

    <!-- 配置通知 -->
    <bean id="myAroundAdvice" class="com.isyxf.aop.spring2.MyAroundAdvice"/>

    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
        <!-- 自动的代理的bean名称, 自动匹配 Dao结尾的 bean -->
        <property name="beanNames" value="*Dao"/>
        <!-- 通知bean -->
        <property name="interceptorNames" value="myAroundAdvice"/>
    </bean>
</beans>