<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean的SpEL的属性注入 -->
    <bean id="category" class="com.isyxf.ioc.demo9.Category">
        <property name="name" value="#{'服装'}"/>
    </bean>

    <!-- 产品随机价格 -->
    <bean id="productInfo" class="com.isyxf.ioc.demo9.ProductInfo"/>

    <bean id="product" class="com.isyxf.ioc.demo9.Product">
        <property name="name" value="#{'男装'}"/>
        <!-- TODO: 可以用其他类的属性或方法来给另外一个类属性设置值-->
        <property name="price" value="#{productInfo.calculatePrice()}"/>
        <property name="category" value="#{category}"/>
    </bean>
</beans>